.idea
*.pyc
robolearn.egg-info
scenarios/robolearn_log
scenarios/TASKSPACE_TORQUE_CTRL_DEMO_*
scenarios/DUAL_DEMOS_*
scenarios/dualist_gps/test_log_dir*
scenarios/dualist_gps/gps_log*
scenarios/dualist_gps/test_*
LOG_2017-*
.ipynb_checkpoints
gps_log*
trajopt_log*
*log*

!robolearn/core/logger.py
!robolearn/torch/ops/logsumexp.py
!robolearn/torch/ops/log_sum_exp.py
