<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- 
  ROS urdf definition of the BIGMAN humanoid robot by Istituto Italiano di Tecnologia
  
  DO NOT INCLUDE THIS FILE DIRECTLY! USE bigman_robot.urdf.xacro INSTEAD!

  Author: Enrico Mingo & Alessio Rocchi

  Inertial matrix has to be in CoM frame (URDF specs)

  Velocity and effort limits are fake!
-->
<!--
The coordinate frame called base_link is rigidly attached to the robot root body. It is recommended to choose the robot waist as its root body. The base_link can be attached to the root in any arbitrary position or orientation; for every hardware platform there will be a different place on the base that provides an obvious point of reference. Note that REP 103 [1] specifies a preferred orientation for frames. -->
<link name="base_link"/>

<link name="Waist">
    <inertial>
      <origin xyz="${-2.2813402e+01*mmTom} ${-7.3935443e-01*mmTom} ${3.0422909e+01*mmTom}" rpy="0.0 0.0 0.0"/>
      <mass value="1.1046081e+01"/>
      <inertia ixx="${9.6207978e+04*mm2Tom2}"  ixy="${1.4081043e+02*mm2Tom2}"  ixz="${3.1258127e+03*mm2Tom2}" iyy="${9.8511158e+04*mm2Tom2}" iyz="${1.3938149e+02*mm2Tom2}" izz="${8.6541531e+04*mm2Tom2}" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry name="Waist_visual">
        <mesh filename="meshes/Waist.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual> 
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry name="Waist_collision">
        <mesh filename="meshes/simple/Waist.STL" scale="0.001 0.001 0.001"/>
      </geometry>             
    </collision>   
</link>

<joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="Waist"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
</joint>


<xacro:if value="${BIGMAN_LEGS}">
       <xacro:unless value="${BIGMAN_UPPER_BODY}">
		<!-- ********************FAKE TORSO******************** -->
		<xacro:include filename="parts/pelvis_weight_bench.urdf.xacro" />
       </xacro:unless>
</xacro:if>

<xacro:if value="${BIGMAN_UPPER_BODY}">
       <!-- ********************TORSO******************** -->
       <!-- first real link of the robot, inertial reference frame -->
       <xacro:include filename="parts/torso.urdf.xacro" />

       <!-- ********************NECK********************* -->
       <xacro:include filename="parts/neck.urdf.xacro" />
</xacro:if>
  
<xacro:if value="${BIGMAN_LEGS}">
	<!-- ********************LEGS******************** -->
	<!-- This links are defined in order to be compliant with http://www.ros.org/reps/rep-0120.html#coordinate-frames
	and to define the end effectors of the robot -->


	<!--  position and orientation of the leg regardless of the support body geometry -->
	  <link name="l_ankle"/>
	  <link name="r_ankle"/>

	<!-- position and orientation of the left leg support body. The (X,Y) plane of this frame must be coplanar with the support body contact surface. It is recommended to choose the origin as the projection of the support body origin on the contact surface. The Z coordinate of this frame should be on the ground level when standing. -->
	  <link name="l_sole"/>
	  <link name="r_sole"/>

	<!--  position and orientation of the leg toe body. The (X,Y) plan of this frame must be coplanar with the toe body contact surface. It is recommended to choose the origin as the projection of the body center on the contact surface. -->
	  <link name="l_toe"/>
	  <link name="r_toe"/>

	<xacro:include filename="parts/legs.urdf.xacro" />

  	<joint name="l_ankle_joint" type="fixed">
	     <parent link="LFoot"/>
	     <child link="l_ankle"/>
	     <origin xyz="0 0 0" rpy="0 0 0" />
        </joint>

	  <joint name="r_ankle_joint" type="fixed">
	    <parent link="RFoot"/>
	    <child link="r_ankle"/>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	  </joint>

	  <joint name="l_sole_joint" type="fixed">
	    <parent link="LFoot"/>
	    <child link="l_sole"/>
	    <origin xyz="0 0 -0.1435" rpy="0 0 0" />
	  </joint>

	  <joint name="r_sole_joint" type="fixed">
	    <parent link="RFoot"/>
	    <child link="r_sole"/>
	    <origin xyz="0 0 -0.1435" rpy="0 0 0" />
	  </joint>

	  <joint name="l_toe_joint" type="fixed">
	    <parent link="l_sole"/>
	    <child link="l_toe"/>
           <xacro:unless value="${BIGMAN_NEW_FEET}">
	      <origin xyz="0.195 0 0" rpy="0 0 0" />
           </xacro:unless>
           <xacro:if value="${BIGMAN_NEW_FEET}">
	      <origin xyz="0.16 0 0" rpy="0 0 0" />
           </xacro:if>
	  </joint>

	  <joint name="r_toe_joint" type="fixed">
	    <parent link="r_sole"/>
	    <child link="r_toe"/>
	    <xacro:unless value="${BIGMAN_NEW_FEET}">
	      <origin xyz="0.195 0 0" rpy="0 0 0" />
           </xacro:unless>
           <xacro:if value="${BIGMAN_NEW_FEET}">
	      <origin xyz="0.16 0 0" rpy="0 0 0" />
           </xacro:if>
	  </joint>

	<!-- Reference frames in feet -->
	<xacro:include filename="parts/foot_reference_frame.urdf.xacro" />
</xacro:if>

<xacro:if value="${BIGMAN_UPPER_BODY}">
       <!-- ********************ARMS******************** -->
       <xacro:include filename="parts/arms.urdf.xacro" />
</xacro:if>

</robot>



